.returnButton {
    padding: 0.8rem 1.2rem;
    margin: 2rem;
    background: linear-gradient(to right, #444446, #464646);
    color: white;
    cursor: pointer;
    border-radius: 20px;
    font-size: 1.2rem;
    font-weight: 500;
    height: fit-content;
    width: 320px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}
.returnButton:hover {
    background: #242424;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
}