.layout {
    background-color: var(--background-light-main);
}

.header {
    display: flex;
    align-items: center;
    height: 5rem;
    padding: 0 48px;
    background-color: var(--background-dark-secondary);
}

body .ant-layout .ant-layout-content .ant-page-header {
    background-color: var(--background-dark-secondary);
}

.layout-container,
.site-layout,
.site-layout-content {
    background-color: var(--background-dark-secondary);
}

.layout-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}